:root {
  font-family: 'Trebuchet MS', 'Segoe UI', Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #11131a;
  background: radial-gradient(circle at 10% 0%, #eaf1ff, #f3f7ff 40%, #f8f9fc 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
